body {
    background: url("./icons/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    gap: 0px;
    margin: 0px;
}

p {
    margin: 0;
    padding: 16px 0;
}

html {
    height: 100%;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
    word-spacing: -50px;
}

.header {
    font-size: 50px;
    font-weight: bolder;
    color: lightgray;
    margin: 200px 0 100px 0;
}

img {
    width: 125px;
    height: auto;
}

.game {
    display: flex;
    flex: 1;    
    gap: 50px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.scores {
    color: lightgray;
    margin-bottom: 75px;
    font-size: 5rem;
}

.player-container, .computer-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px;
    background-color: lightgray;
    border-radius: 20px;
    gap: 30px;
}

.person {
    width: 100px;
    height: auto;
}

.selections {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.selection {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px black;
    transition: all .07s;
}

.player-container .selection:hover {
    transform: scale(1.1);
}

.player-info {
    display: flex;
    align-items: center;
    word-spacing: 5px;
}

#player-selected {
    background-color: lightcoral;
    transform: scale(0.9);
}

.computer-selected {
    background-color: lightgreen;
    transform: scale(0.9);
}